{
    "singleQuote": true,
    "semi": true,
    "tabWidth": 2,
    "printWidth": 80,
    "trailingComma": "none",
    "arrowParens": "always",
    "editor.formatOnSave": true,
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  }
  